<update-title title="{{ 'TABLE_TITLE' | translate }}"></update-title>
<update-meta name="description" content="{{ 'TABLE_META_DESCRIPTION' | translate }}"></update-meta>
<div>
  <div class="hidden-md hidden-sm hidden-xs">
    <img class="img img-responsive" src="images/menehtyneet.jpg" alt="Menehtyneet"/>
  </div>
  <h1 translate>APP_TITLE</h1>
  <p translate>HELP_TEXT</p>
</div>

<table class="table casualty-table ng-table-responsive" ng-table="vm.tableParams">
  <tr ng-show="!vm.isLoadingResults" ng-repeat="person in $data">
    <td data-title="'NAME' | translate">
      <a ws-page-link ng-if="::person.warsa_person" ng-href="/persons/page/{{::person.warsa_person | localId}}">
        {{::person.name}}
      </a>
      <span ng-if="::!person.warsa_person">{{::person.name}}</span>
    </td>
    <td data-title="'RANK' | translate">
      <a ws-page-link ng-if="::person.rank" ng-href="/ranks/page/{{::person.rank.id | localId}}">
        {{::person.rank.label}}
      </a>
    </td>
    <td class="born" data-title="'BORN' | translate">
      <span ng-if="::person.tob">
        <a ws-page-link ng-href="/times/page/time_{{::person.tob}}-{{::person.tob}}">
          {{::person.tob | date:'dd.MM.yyyy'}}
        </a>
      </span>
      <span ng-if="::person.birth_municipality">
        <a ws-page-link ng-href="/places/page?oldMap=true&uri={{::person.birth_municipality.id}}">
          {{::person.birth_municipality.label}}
        </a>
      </span>
    </td>
    <td class="died" data-title="'DIED' | translate">
      <a ws-page-link ng-if="::person.tod" ng-href="/times/page/time_{{::person.tod}}-{{::person.tod}}">
        {{::person.tod | date:'dd.MM.yyyy'}}
      </a>
      {{::person.death_place}}<span ng-if="::(person.death_place && person.death_municipality)">,</span>
      <span ng-if="person.death_municipality">
        <a ws-page-link
            ng-href="/places/page?oldMap=true&uri={{::person.death_municipality.id}}">
          {{::person.death_municipality.label}}
        </a>
      </span>
    </td>
    <td class="age" data-title="'AGE' | translate">
      <span>{{::person.age}}</span>
    </td>
    <td data-title="'UNIT' | translate">
      <span ng-if="::person.unit" ng-repeat="unit in ::person.unit | castArray">
        <a ws-page-link ng-href="/units/page/{{::unit.id | localId}}">
          <span class="hidden-sm">{{::unit.label}}</span><span class="visible-sm">{{::person.unit_str}}</span></a>{{$last ? '' : ', '}}
      </span>
      <span ng-if="::!person.unit">
        {{::person.unit_str}}
      </span>
    </td>
    <td class="perishing-class" data-title="'PERISHING_CLASS' | translate">
      <span>{{::person.casualty_class}}</span>
    </td>
    <td class="cemetery" data-title="'CEMETERY' | translate">
      <a ws-page-link ng-if="::person.cemetery" ng-href="/cemeteries/page/{{::person.cemetery.id | localId}}">
        {{::person.cemetery.label}}
      </a>
    </td>
    <td data-title="'OCCUPATION' | translate">
      <span ng-if="person.occupation">
      <a ws-page-link ng-href="/page?uri={{::person.occupation.id}}">
        {{::person.occupation.label}}
      </a>
      </span>
      <span ng-if="::!person.occupation">
        {{::person.occupation_str}}
      </span>
    </td>
    <td data-title="'NUM_CHILDREN_HEADING' | translate">
      {{::person.children}}
    </td>
  </tr>
</table>
<img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
<div ng-show="vm.hasError" class="alert alert-danger" translate>RESULT_ERROR</div>
<div ng-show="vm.noResults" class="alert alert-info" translate>NO_RESULTS</div>
