<div class="row">
  <div class="col-md-2">
    <div class="facets">
      <seco-text-facet data-options="vm.facets.name"></seco-text-facet>
      <seco-timespan-facet data-options="vm.facets.timeOfDeath"></seco-timespan-facet>
      <seco-basic-facet data-options="vm.facets.birthMunicipality"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.principalAbode"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.deathMunicipality"></seco-basic-facet>
      <seco-hierarchy-facet data-options="vm.facets.rank"></seco-hierarchy-facet>
      <seco-basic-facet data-options="vm.facets.occupation"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.maritalStatus"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.numChildren"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.unit"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.gender"></seco-basic-facet>
      <seco-basic-facet data-options="vm.facets.nationality"></seco-basic-facet>
    </div>
  </div>

  <div class="col-md-10">
    <div ng-include="'views/casualties.persons.html'"></div>
  </div>

</div>
