<ws-navbar></ws-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <a href="" ng-click="facetCtrl.removeFacetSelections()" translate>REMOVE_FACET_SELECTIONS</a>
      <div class="facets">
        <seco-jena-text-facet data-options="facetCtrl.facets.name"></seco-jena-text-facet>
        <div class="show-facets row">
          <div class="col-md-12">
            <button class="btn btn-default pull-right visible-md-block visible-sm-block visible-xs-block"
              ng-click="show = !show">{{ show ? ('HIDE_FACETS' | translate) : ('SHOW_FACETS' | translate) }}</button>
          </div>
        </div>
        <div class="hideable-facets" ng-class="{ 'hidden-md hidden-sm hidden-xs': !show }">
          <seco-timespan-facet data-options="facetCtrl.facets.timeOfDeath"></seco-timespan-facet>
          <seco-basic-facet data-options="facetCtrl.facets.birthMunicipality"></seco-basic-facet>
          <seco-basic-facet class="animate-facet" ng-class="{'expanded-facet': facetCtrl.expandedFacets.cemetery.isExpanded}"
            ng-mouseover="facetCtrl.expandFacet('cemetery')" ng-mouseleave="facetCtrl.shrinkFacet('cemetery')"
            data-options="facetCtrl.facets.cemetery"></seco-basic-facet>
          <seco-basic-facet data-options="facetCtrl.facets.principalAbode"></seco-basic-facet>
          <seco-basic-facet data-options="facetCtrl.facets.deathMunicipality"></seco-basic-facet>
          <seco-hierarchy-facet data-options="facetCtrl.facets.rank"></seco-hierarchy-facet>
          <seco-basic-facet data-options="facetCtrl.facets.occupation"></seco-basic-facet>
          <seco-basic-facet data-options="facetCtrl.facets.maritalStatus"></seco-basic-facet>
          <seco-basic-facet data-options="facetCtrl.facets.numChildren"></seco-basic-facet>
          <seco-basic-facet class="animate-facet"
            ng-class="{'expanded-facet': facetCtrl.expandedFacets[facetCtrl.facets.unit.facetId].isExpanded}"
            ng-mouseover="facetCtrl.expandFacet(facetCtrl.facets.unit.facetId)"
            ng-mouseleave="facetCtrl.shrinkFacet(facetCtrl.facets.unit.facetId)"
            data-options="facetCtrl.facets.unit"></seco-basic-facet>
          <seco-basic-facet class="animate-facet" ng-class="{'expanded-facet': facetCtrl.expandedFacets.perishingClass.isExpanded}"
            ng-mouseover="facetCtrl.expandFacet('perishingClass')" ng-mouseleave="facetCtrl.shrinkFacet('perishingClass')"
            data-options="facetCtrl.facets.perishingClass"></seco-basic-facet>
          <seco-basic-facet data-options="facetCtrl.facets.gender"></seco-basic-facet>
          <seco-basic-facet data-options="facetCtrl.facets.nationality"></seco-basic-facet>
        </div>
      </div>
    </div>

    <div class="col-lg-10">
      <div ui-view></div>
    </div>

  </div>
</div>

<div ng-include="'/page-templates/footer.html.partial'"></div>
