.facet-name {
	font-weight: bold;
}

.loading-img {
  display: block;
  margin: auto;
}

table.casualty-table {
    font-size: 12px;
}
table.casualty-table tr:nth-child(even) {
    background-color: #f8f6f4;
}


.path-chart {
	width: 100%;
}

.age-chart {
	height: 800px;
	width: 100%;
}

.resultset-alert {
  margin-top: 10px;
}

.animate-facet .facet-input-container {
  transition: width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  width: 100%;
  position: relative;
  z-index: 999;
}

.expanded-facet .facet-input-container {
  padding-right: 20px;
  width: 650px;
  position: relative;
  z-index: 999;
}

.facet-wrapper button {
  z-index: 9999;
}

@media (max-width: 1199px) {
  .animate-facet .facet-input-container {
    width: 100%;
  }
  .expanded-facet .facet-input-container {
    width: 100%;
  }
}

.subnav-highlight {
    font-weight: bold;
    color: white !important;
}

@media only screen and (max-width: 800px) {
  table.casualty-table td {
    padding-left: 35% !important;
  }
  table.casualty-table td:before {
    width: 35% !important;
  }
  table.casualty-table thead {
    display: none;
  }
}

@media only screen and (min-width: 801px) {
  table.casualty-table td:first-child {
    width: 14%;
  }
  table.casualty-table td.perishing-class {
    width: 17%;
  }
  table.casualty-table td.born {
    width: 10%;
  }
  table.casualty-table td.died {
    width: 13%;
  }
  table.casualty-table td.cemetery {
    width: 20%;
  }
}

@media (max-width: 980px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar-collapse.collapsing {
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display:block !important;
  }
}
