.facet-name {
	font-weight: bold;
}

.loading-img {
  display: block;
  margin: auto;
}

table.casualty-table {
    font-size: 12px;
}
table.casualty-table tr:nth-child(even) {
    background-color: #f8f6f4;
}
table.casualty-table td:first-child {
    width: 14%;
}
table.casualty-table td.perishing-class {
    width: 15%;
}
table.casualty-table td.born {
    width: 10%;
}
table.casualty-table td.died {
    width: 14%;
}

.path-chart {
	width: 100%;
}

.age-chart {
	height: 800px;
	width: 100%;
}

.resultset-alert {
  margin-top: 10px;
}

.animate-facet select {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position: relative;
  z-index: 9999;
}

.expanded-facet select {
  width: 650px;
  position: relative;
  z-index: 9999;
}

@media (max-width: 990px) {
  .animate-facet select {
    width: 100%;
  }
  .expanded-facet select {
    width: 100%;
  }
}
