.facet-name {
	font-weight: bold;
}

.loading-img {
  display: block;
  margin: auto;
}

table.casualty-table {
    font-size: 12px;
}
table.casualty-table tr:nth-child(even) {
    background-color: #f8f6f4;
}
